<h1>Tah-Da App</h1>

<% @tasks.each do |task| %>
  <h5>Task Name:</h5>
  <p><%= task['name'] %></p>

  <h5> Task Details: </h5>
  <p><%= task['details'] %> </p>
  <a href="/tasks/<%= task['id'] %>"> Show Task</a>
  <a href="/tasks/<%= task['id'] %>/edit"> Edit Task</a>
<% end %>
