<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
</head>
<body>

<ul>
  <li><a href="/tasks">View all tasks</a></li>
  <li><a href="/tasks/new">New Tasks</a></li>

</ul>

<%= yield %>

</body>
</html>
