<form action="/tasks" method='post'>
  <label for='name'>Task:</label>
  <input type= 'text' name='name'>

  <label for='details'>Details:</label>
  <textarea name='details'></textarea>
  <button>Add Task</button>
</form>